name: Slither Analysis

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  analyze:
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Run Slither
        uses: crytic/slither-action@v0.1.1
        id: slither
        continue-on-error: true
        with:
          node-version: 16
          sarif: results.sarif
          target: "contracts/"
          slither-config: "./slither.config.json"

      # only available for public repositories
      # - name: Upload SARIF file
      #   uses: github/codeql-action/upload-sarif@v2
      #   with:
      #     sarif_file: ${{ steps.slither.outputs.sarif }}
